<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>

    <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
        <extensions>
            <add assembly="ZebrunnerAgent"/>
        </extensions>
        
        <targets>
            <target name="console" xsi:type="Console"/>
            <target name="Zebrunner" xsi:type="Zebrunner" layout="${logger} ${level}: ${message}"/>
        </targets>

        <rules>
            <logger name="*" minlevel="Trace" writeTo="console"/>
            <logger name="*" minlevel="Trace" writeTo="Zebrunner"/>
        </rules>
    </nlog>
</configuration>
